<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="#">
          <img src="../../../../assets/images/logo.png" width="100" alt="Logo">
        </a>
      </div>
      <div class="col-md-6">
        <div class="user">
          <span class="thumbnail-wrapper d32 circular inline">
              <i class="fa fa-search" aria-hidden="true"></i>
            Admin
          </span>
          <img src="../../../../assets/images/user.png" alt="User avatar" width="32" height="32">
        </div>
      </div>
    </div>
  </div>
</header>
