<div class="pape-user-header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
        </div>
        <div class="col-md-6 col-sm-6">
          <ul class="list-user-info">
            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
            <li><a href="#"><i class="fa fa-sign-in"></i> Login</a></li>
            <li><a href="#"><i class="fa fa-user-plus"></i> Register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="logo">
          <a href="#">
            <img src="https://keothom.net/assets/images/logo_1502705291.png" height="100px">
          </a>
        </div>
      </div>
      <div class="col-md-9 col-sm-9">
        <nav class="main-menu navbar">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">BXH</a></li>
            <li><a href="#">Đổi thưởng</a></li>
            <li><a href="#">VQMM</a></li>
            <li><a href="#">Sự kiện đua top</a></li>
            <li><a href="#">Video</a></li>
            <li><a href="#" class="">Thảo luận</a></li>
            <li><a href="#">Hướng dẫn chơi</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</div>
