$primary-color: #07c25f;
$second-color: #434343;
$border-color: #e1e1e2;
$base-font-size: 14px;
$base-font-weight: 400;
$background: #eceff1;
$white-color: #ffffff;
$footer-bg: #3b3b3b ;;
$copyright-bg: #2e2e2e;
