$primary-color: #88c425;
$second-color: #121212;
$border-color: #e1e1e2;
$base-font-size: 14px;
$base-font-weight: 400;
$background: #eceff1;
$white-color: #ffffff;
$red-color: #d21346;
$footer-bg: #0e0e0e;
$footer-color: #ccc;
$footer-border: #485065;
