<div class="col-md-9 main-content">
  <div class="info-results">
    <ul>
      <li>
        <span class="head">
          Portugal Vs Spain
          <span class="date">27 Jun 2017</span>
        </span>
        <div class="goals-result">
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/por.png" alt=""> Portugal
          </a>
          <span class="goals">
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Prediction</button>
          </span>
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/esp.png" alt=""> Spain
          </a>
        </div>
      </li>
      <li>
        <span class="head">
          Rusia Vs Colombia
          <span class="date">30 Jun 2017</span>
        </span>
        <div class="goals-result">
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/rusia.png" alt=""> Rusia
          </a>
          <span class="goals">
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Prediction</button>
          </span>
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/colombia.png" alt=""> Colombia
          </a>
        </div>
      </li>
      <li>
        <span class="head">
          Uruguay Vs Portugal
          <span class="date">31 Jun 2017</span>
        </span>
        <div class="goals-result">
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/uru.png" alt=""> Uruguay
          </a>
          <span class="goals">
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Prediction</button>
          </span>
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/por.png" alt=""> Portugal
          </a>
        </div>
      </li>
      <li>
        <span class="head">
          Uruguay Vs Portugal
          <span class="date">31 Jun 2017</span>
        </span>
        <div class="goals-result">
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/uru.png" alt=""> Uruguay
          </a>
          <span class="goals">
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Prediction</button>
          </span>
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/por.png" alt=""> Portugal
          </a>
        </div>
      </li>
      <li>
        <span class="head">
          Uruguay Vs Portugal
          <span class="date">31 Jun 2017</span>
        </span>
        <div class="goals-result">
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/uru.png" alt=""> Uruguay
          </a>
          <span class="goals">
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Prediction</button>
          </span>
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/por.png" alt=""> Portugal
          </a>
        </div>
      </li>
      <li>
        <span class="head">
          Uruguay Vs Portugal
          <span class="date">31 Jun 2017</span>
        </span>
        <div class="goals-result">
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/uru.png" alt=""> Uruguay
          </a>
          <span class="goals">
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Prediction</button>
          </span>
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/por.png" alt=""> Portugal
          </a>
        </div>
      </li>
      <li>
        <span class="head">
          Uruguay Vs Portugal
          <span class="date">31 Jun 2017</span>
        </span>
        <div class="goals-result">
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/uru.png" alt=""> Uruguay
          </a>
          <span class="goals">
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Prediction</button>
          </span>
          <a href="single-team.html">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/por.png" alt=""> Portugal
          </a>
        </div>
      </li>
      <li>
        <span class="head">
          Portugal Vs Spain
          <span class="date">27 Jun 2017</span>
        </span>
        <div class="goals-result">
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/por.png" alt=""> Portugal
          </a>
          <span class="goals">
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Prediction</button>
          </span>
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/esp.png" alt=""> Spain
          </a>
        </div>
      </li>
      <li>
        <span class="head">
          Uruguay Vs Portugal
          <span class="date">31 Jun 2017</span>
        </span>
        <div class="goals-result">
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/uru.png" alt=""> Uruguay
          </a>
          <span class="goals">
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Prediction</button>
          </span>
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/por.png" alt=""> Portugal
          </a>
        </div>
      </li>
      <li>
        <span class="head">
          Portugal Vs Spain
          <span class="date">27 Jun 2017</span>
        </span>
        <div class="goals-result">
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/por.png" alt=""> Portugal
          </a>
          <span class="goals">
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Prediction</button>
          </span>
          <a href="#">
            <img src="http://html.iwthemes.com/sportscup/run/img/clubs-logos/esp.png" alt=""> Spain
          </a>
        </div>
      </li>
    </ul>
  </div>
  <!-- <table class="list-employees">
    <thead>
      <tr>
        <th>Employee code</th>
        <th>Employee name</th>
        <th>Employee Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let emp of soccer'>
        <td>{{emp.id }}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.number}}</td>
      </tr>
    </tbody>
  </table> -->
  <app-prediction-dialog [(visible)]="showDialog">
  </app-prediction-dialog>
</div>
