<div class="col-md-9">
  <div class="panel-box">
    <div class="titles">
      <h4>Text Content.</h4>
    </div>
    <div class="box-team-wrap">
      <a href="#" title="Atletico Madrid vs Eibar">
        <div class="date">08:00 19/05/2018</div>
        <div class="box-team">
          <span class="logo-team-1">
            <img src="https://keothom.net/assets/images/club/atletico-madrid.png" alt="Atletico Madrid">
          </span>
          <span class="name-team-1">Atletico Madrid</span>
          <span class="name-team-2">Eibar</span>
          <span class="logo-team-2">
            <img src="https://keothom.net/assets/images/club/eibar.png" alt="Eibar">
          </span>
        </div>
      </a>
      <a href="#" title="Atletico Madrid vs Eibar">
        <div class="date">08:00 19/05/2018</div>
          <div class="box-team">
            <span class="logo-team-1">
              <img src="https://keothom.net/assets/images/club/atletico-madrid.png" alt="Atletico Madrid">
            </span>
            <span class="name-team-1">Atletico Madrid</span>
            <span class="name-team-2">Eibar</span>
            <span class="logo-team-2">
              <img src="https://keothom.net/assets/images/club/eibar.png" alt="Eibar">
            </span>
          </div>
        </a>
    </div>
  </div>
</div>
