.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
  color: $white-color;
  background-color: $primary-color;
  padding: 10px 30px;
}
.btn-primary {
  color: $white-color;
  border-color: $border-color;
  background: $primary-color;
  &:hover {
    opacity: .8;
  }
}
