.input-group {
  position: relative;
  display: table;
}
.input-group-btn {
  width: 1%;
  vertical-align: middle;
}
.form-group {
  margin-bottom: 20px;
  label {
    span {
      color: $red-color;
    }
  }
}
.form-control {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: $second-color;
  background-color: $white-color;
  border: 1px solid $border-color;
  @include border-radius(4px);
  @include box-shadow(inset, 0, 1px, 1px, rgba(0,0,0,.075));
}
.input-group-btn {
  position: relative;
  display: table-cell;
  left: -1px;
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.ng-valid.form-control {
  border: 1px solid $primary-color;
}
.ng-valid .form-control, .ng-valid select {
  border: 1px solid $primary-color;
}
.error-msg {
  display: none;
}
.ng-invalid + .error-msg {
  display: block;
  color: $red-color;
}
.ng-valid .btn-default {
  background-color: $primary-color;
}
