<div class="col-md-3">
  <form class="search" action="#" method="Post">
    <div class="input-group">
      <input class="form-control" placeholder="Search..." value="" name="s" id="s" type="text" required="required">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
      </span>
    </div>
  </form>
  <div class="panel-box">
    <div class="titles">
      <h4>Recent Posts</h4>
    </div>
    <ul class="recent_post">
      <li>
        <i class="fa fa-check"></i>
        <a href="#">Porto Alegre and Cuiabá to welcome Valcke</a>
      </li>
      <li>
        <i class="fa fa-check"></i>
        <a href="#">Porto Alegre and Cuiabá to welcome Valcke</a>
      </li>
      <li>
        <i class="fa fa-check"></i>
        <a href="#">Porto Alegre and Cuiabá to welcome Valcke</a>
      </li>
      <li>
        <i class="fa fa-check"></i>
        <a href="#">Porto Alegre and Cuiabá to welcome Valcke</a>
      </li>
    </ul>
  </div>
</div>
