<div class="col-md-3">
  <form class="search" action="#" method="Post">
    <div class="input-group">
      <input class="form-control" placeholder="Search..." value="" name="s" id="s" type="text" required="required">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
      </span>
    </div>
  </form>
  <div class="panel-box">
    <div class="titles">
      <h4>Recent Posts</h4>
    </div>
    <ul class="recent-post">
      <li>
        <i class="fa fa-check"></i>
        <a href="#">Porto Alegre and Cuiabá to welcome</a>
      </li>
      <li>
        <i class="fa fa-check"></i>
        <a href="#">Porto Alegre and Cuiabá to welcome</a>
      </li>
      <li>
        <i class="fa fa-check"></i>
        <a href="#">Porto Alegre and Cuiabá to welcome</a>
      </li>
      <li>
        <i class="fa fa-check"></i>
        <a href="#">Porto Alegre and Cuiabá to welcomeng</a>
      </li>
    </ul>
  </div>
  <div class="panel-box">
    <div class="titles">
      <h4>Latest matches</h4>
    </div>
    <div class="match-box">
      <ul class="match-fixture-inner">
        <li class="team">
          <img src="http://techlinqs.com/html/thunder/images/tlogos/tl-3.png" alt="">
          <strong>Portugal</strong>
        </li>
        <li class="time-batch">
          <strong class="m-date">20-04-2018</strong>
          <strong class="m-time">4:30 pm</strong>
          <strong class="m-vs">3-2</strong></li>
        <li class="team">
          <img src="http://techlinqs.com/html/thunder/images/tlogos/tl-1.png" alt="">
          <strong>Germany</strong>
        </li>
      </ul>
    </div>
    <div class="match-box">
      <ul class="match-fixture-inner">
        <li class="team">
          <img src="http://techlinqs.com/html/thunder/images/tlogos/tl-2.png" alt="">
          <strong>Portugal</strong>
        </li>
        <li class="time-batch">
          <strong class="m-date">20-04-2018</strong>
          <strong class="m-time">4:30 pm</strong>
          <strong class="m-vs">3-2</strong></li>
        <li class="team">
          <img src="http://techlinqs.com/html/thunder/images/tlogos/tl-3.png" alt="">
          <strong>Germany</strong>
        </li>
      </ul>
    </div>
    <div class="match-box">
      <ul class="match-fixture-inner">
        <li class="team">
          <img src="http://techlinqs.com/html/thunder/images/tlogos/tl-1.png" alt="">
          <strong>Portugal</strong>
        </li>
        <li class="time-batch">
          <strong class="m-date">20-04-2018</strong>
          <strong class="m-time">4:30 pm</strong>
          <strong class="m-vs">3-2</strong></li>
        <li class="team">
          <img src="http://techlinqs.com/html/thunder/images/tlogos/tl-2.png" alt="">
          <strong>Germany</strong>
        </li>
      </ul>
    </div>
  </div>
</div>
