<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li><a routeLink="leagues"><i class="fa fa-dashboard"></i> Giải đấu</a></li>
      <li><a routeLink="groups"><i class="fa fa-desktop"></i> Bảng đấu</a></li>
      <li><a routeLink="teams"><i class="fa fa-bar-chart-o"></i> Đội bóng</a></li>
      <li><a routeLink="schedules"><i class="fa fa-qrcode"></i> Lịch thi đấu</a></li>
      <li><a routeLink="users"><i class="fa fa-table"></i>Users</a></li>
    </ul>
  </div>
</nav>
