.box-wrap {
  .container {
    background: $white-color;
    height: 100vh;
    padding: 30px 0;
    @include box-shadow(0px, 1px, 10px, 0px, rgba(0, 0, 0, 0.3));
  }
}
.panel-box {
  border-width: 1px 1px 2px;
  border-style: solid;
  border-color: $border-color;
  border-bottom: 2px solid $border-color;
  margin: 0px 0px 30px;
  ul {
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
    list-style: none;
    li {
      line-height: 40px;
    }
  }
}
.titles {
  margin-bottom: 15px;
  border-bottom: 1px solid $border-color;
  @include border-radius(5px 5px 0px 0px);
  h4 {
    border-left: 5px solid $primary-color;
    color: $second-color;
    padding: 10px;
  }
}
.box-team-wrap {
  border-bottom: 1px solid $border-color;
  .date {
    text-align: center;
    color: #000;
    padding-top: 3px;
  }
  .box-team {
    position: relative;
    text-align: center;
    min-height: 40px;
    color: red;
    font-size: 16px;
    border-bottom: 1px solid $border-color;
    img {
      max-width: 50px;
      max-height: 50px;
    }
    .logo-team-1 {
      @include set-position(absolute, -10px, auto, auto, 10px);
    }
    .name-team-1 {
      @include set-position(absolute, 50%, auto, auto, 75px);
      transform: translateY(-50%);

    }
    .logo-team-2 {
      @include set-position(absolute, -10px, 10px, auto, auto);
    }
    .name-team-2 {
      @include set-position(absolute, 50%, 75px, auto, auto);
      transform: translateY(-50%);
    }
  }
}
